doctype html
html
    head
        meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
        link(rel='stylesheet' href='detailstyle.css')
        title 详情
    
    body
        h1 用户详情

        p 用户姓名: 
            span #{username}

        p 学号: 
            span #{sid}

        p 电话: 
            span #{phone}

        p 邮箱: 
            span #{email}                                    